<h3>Welcome to the ultimate Music App!</h3>

<p>Congratulations, <%= @user.email %>, you are on your way to enjoying the ultimate in music 
application technology. But first, follow
<%= link_to 'this link', @url %> to activate your account.</p>